tr {background-color: #53BF9D}
table {background-color: #53BF9D;}
#tablejasa {
    background-color: #69e5bd; 
}
#colomjasa  {
    background-color: #69e5bd;
}

#highligt { background-color: #69e5bd;}
#colhighligt {background-color: #69e5bd;}
#imgjasa {
    border-radius: 8px;
}

#navbar { background-color: #69e5bd;}
#colnavbar {background-color: #69e5bd;}
body { background-color: #69e5bd;}
